@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,200&display=swap');
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
}

header {
    background-color: #eee6f2;
    width: 100%;
    height: 200px;
    box-shadow: 0px 0px 30px #857d8a;
    border-bottom: 5px solid #4b3e52;
}

.cabecalho {
    width: 80%;
    height: 50px;
    margin: auto;
}

.logo {
    width: 30%;
    height: auto;
    overflow: hidden;
    float: left;
    margin-top: 20px;
}

.logo img {
    width: 150px;
    height: 150px;
    object-fit: contain;
    border-radius: 50%;
    border: 2px solid #4b3e52;
}

.menu {
    width: 60%;
    height: 70px;
    float: right;
    margin-top: 142px;
}

.menu ul li {
    list-style: none;
    display: inline-block;
    margin-top: 10px;
}

.menu ul li a {
    text-decoration: none;
    padding: 24px;
    font-size: 20px;
    font-weight: bold;
}

.menu ul li a:hover {
    background-color: #4b3e52;
    color: #aa3eed;
    border-radius: 5px 5px 0 0;
}

.content {
    width: 100%;
    height: 700px;
}

#sobre {
    background-image: linear-gradient(60deg, #200b38, #8357b5);
    display: flex;
}

.content .box p {
    word-wrap: break-word;
}